<section  class="bg-black relative ">
    
    <img src="../assets/descuento/sub-left.png" alt="" class="absolute left-0 -bottom-1/4 w-36 ">
    <img src="../assets/descuento/sub-right.png" alt="" class=" hidden md:absolute md:right-0 md:-top-1/4 md:w-36 md:block">
    
    <div class="h-72 align-middle content-center">
      <div class="flex justify-center items-center   gap-10">
        <div class="">
          <div class="  ">
            <div class="text-cyan-50 ">
              <div class="font-semibold text-xl ">TODOS LOS PRODUCTOS</div>
              <h2 class="font-bold text-4xl">Obten 20%  menos <br><b>en tu primera orden</b></h2>
            </div>
          </div>
        </div>

        <div class="">
          <form >
            
          
            <div class="">
                
                <div class="">
                    <div class=" border-2 border-cyan-50 rounded-full flex justify-center items-center overflow-hidden ">

                        <input type="email"  class=" text-white h-10 lg:w-80 hidden  bg-black ml-4 m-0"  autocorrect="off" placeholder="   Ingrese su Correo Electronico..." required="">
                            <button type="submit" class=" hover:bg-slate-800 border-2 border-cyan-50 rounded-full w-10 h-10 m-1"  aria-label="Subscribe">

                                <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.97863e-08 9.99986C-7.09728e-06 10.4601 0.373083 10.8332 0.83332 10.8332L17.113 10.8335L15.1548 12.7358C14.8247 13.0565 14.817 13.584 15.1377 13.9142C15.4584 14.2443 15.986 14.2519 16.3161 13.9312L19.7474 10.5979C19.9089 10.441 20.0001 10.2254 20.0001 10.0002C20.0001 9.77496 19.9089 9.55935 19.7474 9.40244L16.3161 6.0691C15.986 5.74841 15.4584 5.75605 15.1377 6.08617C14.817 6.41628 14.8247 6.94387 15.1548 7.26456L17.1129 9.1668L0.833346 9.16654C0.373109 9.16653 7.24653e-06 9.53962 4.97863e-08 9.99986Z" fill="#183A40"></path>
                                </svg>

                            </button>
                    </div>
                </div>
        
            </div>
          </form>
        </div>

      </div>
    </div>
    </section>