.fondoimg{
    position: relative;
    overflow: hidden;

}
.fondoimg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    filter: blur(5px);
    z-index: -1;
    background-image: url(https://www.planetfitness.com/sites/default/files/feature-image/pairofsportshoesoncolorf_640919.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}